@model IEnumerable<materTestCore2.Models.EGovModels.military.Officer>
@using materTestCore2.Helpers

@{
    Layout = "~/Views/Shared/military_Layout.cshtml";

    ViewData["Title"] = "Index";
}

<h1>الضباط</h1>

<p>
    <a asp-action="Create">إضافة ضابط</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Officer_rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.officer_specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.national_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.full_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Officer_rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officer_specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.national_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
                @item.gender.boolGender()

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_name)
            </td>
            <td>
                    @Html.ActionLink("تعيين في وظيفة", "Edit", new { id=item.national_id }) |
                    @Html.ActionLink("السجل الوظيفي للضابط", "Details", new { id=item.national_id }) |
                    @Html.ActionLink("حذف", "Delete", new {  id=item.national_id  })
            </td>
        </tr>
}
    </tbody>
</table>
