@model IEnumerable<materTestCore2.Models.EGovModels.education.exam>
@using materTestCore2.Helpers
@{
    Layout = "~/Views/Shared/education_Layout.cshtml";

    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exam_grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exam_pass)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Uri)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.exam_grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exam_pass)
                    @item.exam_pass.boolPass()
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
